@import "tailwindcss";
@plugin "tailwindcss-animated";

@theme {
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-calendar-bg: #F3F5F8;
  --color-purple-600: #5A57CB;
  --color-gray-500: #A0A8B1;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
